.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  z-index: 1;
}

.logo {
  width: 183px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  height: 32px;
}

.logo_place_footer {
  height: 35px;
}

.header__title {
  width: 730px;
  margin: 0 0 0 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
}

.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

/* Prettier также добавляет 0 перед точкой. Я писал .3s =) */

.header__link::after {
  content: "→";
  display: inline-block;
  transform: translate3d(5px, 0px, 0px);
  transition: all 0.3s ease-in-out;
}

.header__link:hover::after {
  transform: translate3d(15px, 0px, 0px);
}

.header__main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 765px;
  height: 608px;
  z-index: -1;
}

.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  z-index: -2;
}

.description {
  padding: 100px 0 0 0;
  display: flex;
  justify-content: center;
}

.two-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: 0 auto;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  margin: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.two-columns__paragraph:nth-child(2n) {
  padding: 30px 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.digits {
  padding: 100px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section-title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  width: 60%;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #000;
}

.section-title_theme_dark {
  color: #fff;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  margin: 20px 0 0;
  padding: 0;
  text-align: center;
  color: #000;
}

.section-subtitle_theme_dark {
  color: #fff;
}

.table {
  width: 1100px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}

/* Не пригодился, после правок z-index
.table_theme_dark {
  
}
*/

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  color: #000;
}

.table__heading_theme_dark {
  color: #fff;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 0 0;
  color: #000;
}

.table__text_theme_dark {
  color: #fff;
}

.feynman {
  min-height: 790px;
  padding: 100px 0 0 0;
  position: relative;
  background: url(../images/feynman.png) no-repeat bottom left #f2f2f2;
  background-size: 867px 637px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  width: 648px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
  padding: 70px 0 0 0;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
  position: absolute;
  right: 48px;
  top: 50%;
}

.feynman__link::after {
  content: "→";
  display: inline-block;
  transform: translate3d(15px, 0px, 0px);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.feynman__link:hover::after {
  transform: translate3d(30px, 0px, 0px);
}

.kaufman {
  position: relative;
  padding: 90px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #1f1f1f;
  overflow: hidden;
  z-index: 1;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  background-size: contain;
  position: absolute;
  top: 0;
  right: -210px;
  width: 877px;
  height: 877px;
  z-index: -1;
}

.footer {
  background-color: #1f1f1f;
  min-height: 350px;
  display: flex;
  justify-content: center;
  padding: 60px 0 40px 0;
  box-sizing: border-box;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  justify-content: space-between;
  flex-basis: 711px;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
  margin: 18px 0;
}

/*Всё ещё не нужен 

.footer__column_content_info {
  
}
*/

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  margin: 0 0 20px 0;
}

.footer__column-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* И этот

.footer__column_content_social {
 
}
*/

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
  text-decoration: none;
}

.footer__column-link:hover {
  color: #2f80ed;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* Также не понял, зачем нужен этот отступ, но в макете он есть */

.footer__column-link:last-child {
  margin-bottom: 16px;
}
